body {
  --color-dark: #1F2833;
  --color-light: #E5E0D8;
  --color-accent: #66FCF1;
}

.public-container {
  max-width: 60rem;
  padding: 0 2rem;
}

.public-main-info-container {
  background-color: var(--color-dark);
  color: white;
}
.public-main-info-container h2{
  color: var(--color-accent);
}

.public-projects-container {
  background: var(--color-light);
}
.public-project {
  padding-top: 2em;
}

.public-image-placeholder {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.3);
}
.public-proj-img-placeholder {
  width: 150px;
  height: 150px;
  border: 2px solid var(--color-dark);
}
