.container {
  max-width: 60rem;
  padding: 0 2rem;
}

.row {
  position: relative;
}

.info-container {
  background-color: var(--color-light);
  border-radius: 1em;
  border: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
}
.info-container .row {
  padding: 0.5em;
}

.projects-container {
  background-color: var(--color-light);
  border-radius: 1em;
  border: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
}
.projects-container .row {
  padding: 0.1em;
}

.thin-line {
  border-top: 1px solid var(--color-dark);
  margin: 1em auto;
}