.container {
  max-width: 60rem;
  padding: 0 2rem;
}

.row {
  position: relative;
}

.info-container {
  border: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
  .row {
    padding: 0.5em;
  }
}
.projects-container {
  border: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
  .row {
    padding: 0.5em;
  }
}

.edit-btn {
  position: absolute;
  width:fit-content;
  right: 10px;
}